html {
  height: 100%;
  width: 100%;
  background-color: #f8e6f8;
}
@media screen and (max-width: 620px) {
  h1 {
    font-size: 33px;
    padding: 8px;
  }
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #A45D83;
  font-size: 26px;
}
.contact-container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.contact-left-title h2 {
  font-weight: 600;
  color: #A45D83;
  font-size: 40px;
  margin-bottom: 5px;
  margin-top: 200px;
}
.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #A45D83;
  border-radius: 10px;
  margin-bottom: 20px;
  float: left;
}
.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: darkgray;
  border-radius: 50px;
}
.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}
.contact-inputs:focus {
  border: 2px solid #A45D83;
}
.contact-inputs::placeholder {
  color: darkgray;
}
.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #A45D83, #FFCDE8);
  cursor: pointer;
 transition: 0.3s ease;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact-left button:hover {
  transform: translateY(-10px);
}
.contact-left button img {
   height: 15px;
}
@media (max-width: 800px) {
  .contact-inputs {
    width: 80vw;
  }
  .contact-left-title h2 {
    margin-top: 200px;
    font-size: 33px;
  }
}
.back {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #A45D83, #FFCDE8);
  cursor: pointer;
}
.back a {
  color: white;
  text-decoration: none;
   font-family: Georgia, 'Times New Roman', Times, serif;
}