html {
  height: 100%;
  width: 100%;
  background-color: #f9e6f9;
}
body {
  background: #f9e6f9;
}
.app {
  background: #f9e6f9;
  width: 94%;
  max-width: 600px;
  margin: 50px auto 0;
  border-radius: 10px;
  padding: 30px;
}
.app h1 {
  font-size: 28px;
  color: #A45D83;
  border-bottom: 3px solid #A45D83;
  padding-bottom: 30px;
}
.quiz {
  padding: 10px 0;
}
.quiz h2 {
  font-size: 24px;
  color: #A45D83;
}
.btn {
  background: violet;
  color: black;
  width: 100%;
  border: 2px solid black;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 18px;
  cursor: pointer;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
button:hover:not([disabled]) {
  background: black;
  color: violet;
}
.btn:disabled {
  cursor: no-drop;
}
#next-btn {
  background: violet;
  color: black;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 18px;
  cursor: pointer;
  display: block;

}
.correct {
  background: limegreen;
}
.incorrect {
  background: lightcoral;
}
@media screen and (max-width: 800px) {
  .app {
    max-width: 260px;
  }
  .img1 {
    max-width: 290px;
  }
  p {
    max-width: 320px;
  }
}
h3 {
  font-size: 25px;
  color: #A45D83;
}
p {
  font-size: 18px;
  color: #A45D83;
}
.img1 {
  width: 400px;
}